<!DOCTYPE html>
{% load static %}
<html>
<head>
<meta charset="UTF-8">
<meta name="viewsport" content="width=device-width,initial-scale=1.0">
<title>Student Form</title> 
<link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
</head> 
<body>    
  <!-- <div class="row"> -->
    <!-- <div class="container mt-5"> -->
    <h4 class="text-center alert alert-danger"> Create Student Detail</h4>
    <div class="row">
    <div class="col-sm-4">
    <!-- <h4 class="text-center alert alert-info"> Create Student Detail</h4> -->
  <form action="" method="POST">
    <!-- {% csrf_token %}  -->
    {% csrf_token %}
    <!-- {{form.as_p}} -->
    {{form2.as_p}}
    {{form1.as_p}}
    <input type="submit" class="btn btn-success" value="Submit">  
  </form>

</div>
</div>
<!-- </div>      -->


<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>  
</body>



</html>